<template>
    <div class="h-screen flex overflow-hidden bg-white">
        <!-- Static sidebar for desktop -->
        <div class="hidden lg:flex lg:flex-shrink-0">
            <div class="flex flex-col w-64">
                <!-- Sidebar component, swap this element with another sidebar if you like -->
                <div class="flex flex-col h-0 flex-1 border-r border-gray-200 bg-gray-100">
                    <LeftNavBar />
                    <LeftNavProfileBar />
                </div>
            </div>
        </div>
        <div class="flex flex-col min-w-0 flex-1 overflow-hidden">
            <div class="flex-1 relative z-0 flex overflow-hidden">
                <main class="flex-1 relative z-0 overflow-y-auto focus:outline-none xl:order-last" tabindex="0">
                    <article>
                        <<%= table %>PageHeader heading="<%= table %> Data Management" showbutton="true" guide="Search
                                for <%= table %> data" addClickEvent="evtUpsert<%= table %>" />
                                        <<%= table %>Search heading="" />
                                        <!--Datatable action buttons (Start)-->
                                        <<%= table %>DataTableActionButtons />
                                        <!--Datatable action buttons (End)-->
                                        <<%= table %>DataTable />
                    </article>
                </main>
            </div>
        </div>
        <<%= table %>Upsert />
    </div>
</template>

<script>
    /**
     * index.vue
     *
     * @description :: Landing page for [<%= sails._s.capitalize(table) %>]
     *
     * @author      :: <%= sails._s.capitalize(code_author) %>
     * @help        :: 
     *
     * Created at   :: <%= new Date();%>
     * Modified at  :: <%= new Date();%>
     */
    import LeftNavBar from "@/components/LeftNavBar.vue";
    import LeftNavProfileBar from "@/components/LeftNavProfileBar.vue";
    import <%= table %>PageHeader from "@/pages/<%= table.toLowerCase() %>/<%= table %>PageHeader.vue";
    import <%= table %>Upsert from "@/pages/<%= table.toLowerCase() %>/<%= table %>Upsert.vue";
    import <%= table %>Search from "@/pages/<%= table.toLowerCase() %>/<%= table %>Search.vue";
    import <%= table %>DataTable from "@/pages/<%= table.toLowerCase() %>/<%= table %>DataTable.vue";
    import <%= table %>DataTableActionButtons from "@/pages/<%= table.toLowerCase() %>/<%= table %>DataTableActionButtons.vue";

    export default {
        layout: 'app',
        components: {
            LeftNavBar,
            LeftNavProfileBar,
            <%= table %>PageHeader,
            <%= table %>Search,
            <%= table %>Upsert,
            <%= table %>DataTable,
            <%= table %>DataTableActionButtons,
    },
    methods: {

    },
    created() {

    },
    beforeDestroy() {

    }
};
</script>