<div class="mt-6 grid grid-cols-1 gap-y-6 gap-x-4 sm:grid-cols-6">

    <div class="sm:col-span-6">
        <label for="street_address" class="block text-sm font-medium text-gray-700">
            Street address
        </label>
        <div class="mt-1  shadow-sm border-gray-300">
            <%= addressline1 %> <%= addressline2 %>
        </div>
    </div>

    <div class="sm:col-span-6">
        <label for="city" class="block text-sm font-medium text-gray-700">
            City
        </label>
        <div class="mt-1  shadow-sm border-gray-300">
            <%= city %>
        </div>
    </div>

    <div class="sm:col-span-6">
        <label for="state" class="block text-sm font-medium text-gray-700">
            State / Province
        </label>
        <div class="mt-1  shadow-sm border-gray-300">
            <%= state %>
        </div>
    </div>

    <div class="sm:col-span-6">
        <label for="zip" class="block text-sm font-medium text-gray-700">
            ZIP / Postal
        </label>
        <div class="mt-1  shadow-sm border-gray-300">
            <%= zipcode %>
        </div>
    </div>
    <div class="sm:col-span-6">
        <label for="zip" class="block text-sm font-medium text-gray-700">
           Country
        </label>
        <div class="mt-1  shadow-sm border-gray-300">
            <%= country %>
        </div>
    </div>
</div>